<!DOCTYPE html>
<html>
<head>
    <title>WSP Component: Firstname Lastname</title>

    <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>

    <!-- Component -->
    <div id="bottomRight">
        Bottom Right
    </div>
    <!-- End Component -->
    <div class="main">
        <p> See bottom right and scroll up and down</p>
        <p> See bottom right and scroll up and down</p>
        <p> See bottom right and scroll up and down</p>
        <p> See bottom right and scroll up and down</p>
        <p> See bottom right and scroll up and down</p>
        <p> See bottom right and scroll up and down</p>
        <p> See bottom right and scroll up and down</p>
        <p> See bottom right and scroll up and down</p>
        <p> See bottom right and scroll up and down</p>

    </div>

</body>
</html>