<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Angel Valdes</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <nav id="menu">
        <ul>
            <li>
                <a href="#">flyout menu</a>
                <ul>
                    <li>
                        <a href="#">Breaking News</a>
                        <ul>
                            <li><a href="#">Politics</a></li>
                            <li>
                                <a href="#">Sports</a>
                                <ul>
                                    <li><a href="#">Swimming</a></li>
                                    <li><a href="#">Tennis</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Entertainment</a>
                        <ul>
                            <li><a href="#">Apple</a></li>
                            <li><a href="#">Android</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Finance</a>
                        <ul>
                            <li><a href="#">Realstate</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">News</a></li>
                   
                </ul>
            </li>
        </ul>
    </nav>
	<!-- End Component -->
	
</body>
</html>