<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li>
                <a href="#">Services</a>
                <ul>
                    <li><a href="#">Windows Development</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li>
                        <a href="#">Mobile Development</a>
                        <ul>
                            <li><a href="#">Apple</a></li>
                            <li><a href="#">Android</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Resources</a>
                <ul>
                    <li><a href="#">Tutorials</a></li>
                    <li><a href="#">BLogs</a></li>
                </ul>
            </li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
	<!-- End Component -->
	
</body>
</html>