<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="componentb.css" />

	
</head>
<body>

	<!-- Component -->
<section id="componentCode">
    <dl>
        <dt id="html"><a href="#html">HTML</a></dt>
        <dd>
            HTML content
        </dd>
        <dt id="css"><a href="#css">CSS</a></dt>
        <dd>
            CSS content
        </dd>
        <dt id="javascript"><a href="#javascript">JavaScript</a></dt>
        <dd>
            JavaScript content
        </dd>
    </dl>
</section>
	<!-- End Component -->
	
</body>
</html>