/* Component Stylesheet 
============================================================
============================================================*/

body {
    background: #222222;
    font: 15px/20px helvetica, sans-serif;
    color: #fafafa;
}
section {
    max-width: 900px;
    margin: 0 auto;
}
dl {
    box-shadow: 0 4px 20px #000000;
    border-radius: 5px;
    border: 1px solid gray;
}
dt {
    color: white;
    text-shadow: 0 1px #475b14;
    border: 1px solid gray;
    background: #4a4a4a;
    /*background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 34%, rgba(102,102,102,1) 47%, rgba(71,71,71,1) 100%);*/
     
}
dt:target{ 
    color: #c5ee4d;
}
dd {
    display: none;
}

dt:target + dd {
    display: block;
    animation: fadeIn 1s;
    padding: 1em 3em 3em 3em;
}
a {
    display: block;
    padding: 0.5em 0;
    color: inherit;
    text-decoration: none; 
}
#componentCode a::before {
    content: "+";
    display: inline-block;
    position: relative;
    left: -0.5em;
    padding: 0.1em 0.15em;
    background: #c5ee4d;
    border-radius: 4px;
    font-size: 2em;
    font-weight: 800;
    color: #82a526;
    width: 1em;
    height: 1em;
    box-shadow: 0 0 .25em gold;    
}
#componentCode dt:target a::before {
    content: "-";
    padding: 0.02em 0 0 0.32em;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}