<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <div id="accordion">
        <ul>
            <li>
                <a href="#one">Section 1</a>
                <div id="one" class="accordion">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
                </div>
            </li>
            <li>
                <a href="#two">Section 2</a>
                <div id="two" class="accordion">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
                </div>
            </li>
            <li>
                <a href="#three">Section 3</a>
                <div id="three" class="accordion">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
                </div>
            </li>
        </ul>
    </div>
	<!-- End Component -->
	
</body>
</html>